* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
section {
  display: flex;
  width: 90%;
  height: 90vh;
  margin-top: 2.4%;
  margin-left: 5%;
  /* position: relative; */
}

.imgBox {
  position: relative;
  width: 50%;
  height: 100%;
}
.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
}

.conBox {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.form {
  width: 70%;
}
.form h1 {
  color: #698639;
  font-size: 3em;
  margin-bottom: 20px;
  /* display: inline-block; */
  /* font-weight: 600; */
}
.form p {
  margin-bottom: 20px;
  color: #698639;
}
.form p a {
  text-decoration: none;
}
.form .field {
  margin-bottom: 20px;
}
.form .field input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #607d8b;
  font: 16px;
  color: #8ba85d;
  background: transparent;
  border-radius: 3px;
  /* font-weight: 400; */
}
.form .field input[type="submit"] {
  background-color: #8ba85d;
  color: #fff;
  border: none;
  cursor: pointer;
  /* padding: 10px; */
  /* outline: none; */
  /* font-weight: 500; */
}